<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/output/dist/css/index.css">
</head>
<body>
	<div id="app">
		<div>
			<span>用户名：</span>
			<input type="text" name="userName" id="userName"/>
		</div>
		<div>
			<span>密码：</span>
			<input type="password" name="password" id="password"/>
		</div>
		<div><button id="submit">登录</button></div>
	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$('#submit').on('click', function (e) {
		$.ajax({
			url:'/api/user/signIn.json',
			type:'POST', //GET
			async:true,    //或false,是否异步
			data:{
				password: $('#password').val(),
				userName: $('#userName').val(),
			},
			timeout:5000,    //超时时间
			dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
			beforeSend:function(xhr){
				console.log(xhr)
				console.log('发送前')
			},
			success:function(data,textStatus,jqXHR){
				console.log(data)
				console.log(textStatus)
				console.log(jqXHR)
			},
			error:function(xhr,textStatus){
				console.log('错误')
				console.log(xhr)
				console.log(textStatus)
			},
			complete:function(){
				console.log('结束')
			}
		});
	})
</script>
</html>
